* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

:root {
    --main-color: #2196f3;
    --main-color-alter: #1787e0;
    --white-color: white;
    --black-color: black;
    --transition: .4s;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header */
header {
    background-color: var(--white-color);
    box-shadow: 0 0 10px #ddd;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    color: var(--main-color);
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

header .container nav>ul a {
    padding: 0 30px;
    color: var(--black-color);
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: var(--transition);


}

header .container nav ul a:before {
    content: "";
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    width: 100%;
    position: absolute;
    transition: var(--transition);
}

header .container ul a:hover {
    color: var(--main-color);
    background-color: #fafafa;
    transition: var(--transition);
}

header .container ul a:hover::before {
    left: 0%;
}

@media(max-width:767px) {
    header .container {
        flex-direction: column;
    }

    header .container .logo {
        height: 50px;
    }

    header .container ul a {
        padding: 0 15px;
        font-size: 15px;
        height: 50px;
    }
}

/* End header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    background-color: #ECECEC;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 79px);
    display: flex;
    align-items: center;
    padding-bottom: 100px;

}

.landing .container .text {
    flex: 1;
}

.landing .container .text h1 {
    font-size: 35px;
}

.landing .container .text p {
    color: #666;
    font-size: 20px;
    line-height: 1.4;
}

.landing .img img {
    width: 600px;
    position: relative;
    animation-name: up-and-down;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@media (max-width:991px) {
    .landing .img {
        display: none;
    }

    .landing .container .text {
        text-align: center;
    }
}

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    transform: translateX(50%, -50%);
    color: var(--main-color);
    bottom: 10px;

}

.landing .go-down i {
    animation-name: bouncing;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-10px);
    }

}

/* End Landing */
/* Start mega-mnue */
header nav ul .mnue {
    position: relative;
}

header nav ul .mnue .mega-mnue {
    opacity: 0;
    transform: translateY(30px);
    z-index: -1;
    position: absolute;
    right: 0%;
    transition: transform var(--transition);
    background-color: var(--white-color);
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-bottom: 4px solid var(--main-color);
}

header nav ul .mnue .mega-mnue.click {

    position: absolute;
    background-color: var(--white-color);
    width: 95vw;
    right: -20%;
    opacity: 1;
    transform: translateY(0);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-bottom: 4px solid var(--main-color);

}

header nav ul .mnue .mega-mnue .img img {
    width: 500px;
}

header nav ul .mnue .mega-mnue .link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: calc(100% - 500px);
}

header nav ul .mnue .mega-mnue .link li {
    width: 100%;
    align-self: flex-start;
}

header nav ul .mnue .mega-mnue .link li a {

    padding-left: 10px;
    color: var(--main-color);
    font-weight: bold;
    text-align: right;
    height: 50px;
    justify-content: flex-start;
    border-bottom: 1px solid #ECECEC;

}

header nav ul .mnue .mega-mnue .link li a i {
    margin-right: 10px;
    font-size: 25px;
}

/* End mega-mnue */