* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

:root {
    --main-color: #2196f3;
    --main-color-alter: #1787e0;
    --white-color: white;
    --black-color: black;
    --section-background: #ececec;
    --transition: .4s;
    --sction-padding: 100px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Main-Titel */
.main-titel {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid black;
    width: fit-content;
    margin: 100px auto;
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;

}

@media (max-width:767px) {
    .main-titel {
        font-size: 20px;
    }
}

.main-titel:hover {
    color: white;
    border: 2px solid white;
    transition-delay: .5s;
}

.main-titel::after {
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: var(--transition);
}

.main-titel::before {
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.main-titel::before {
    left: -30%;
}

.main-titel::after {
    right: -30%;
}

.main-titel:hover::before {
    z-index: -1;
    animation-name: left-active;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.main-titel:hover::after {
    z-index: -1;
    animation-name: right-active;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes left-active {
    50% {
        left: 0;
        height: 15px;
        width: 15px;

    }

    100% {
        left: 0;
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}

@keyframes right-active {
    50% {
        right: 0%;
        height: 15px;
        width: 15px;
    }

    100% {
        right: 0%;
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}

/* End Main-Titel */

/* Start header */
header {
    background-color: var(--white-color);
    box-shadow: 0 0 10px #ddd;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container .logo {
    color: var(--main-color);
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

header .container nav>ul a {
    padding: 0 30px;
    color: var(--black-color);
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: var(--transition);


}

header .container nav ul .list-head:before {
    content: "";
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    width: 100%;
    position: absolute;
    transition: var(--transition);
}

header .container nav ul a:hover {
    color: var(--main-color);
    background-color: #fafafa;
    transition: var(--transition);
}

header .container ul a:hover::before {
    left: 0%;
}

@media(max-width:767px) {
    header .container {
        flex-direction: column;
    }

    header .container .logo {
        height: 50px;
    }

    header .container nav ul a {
        padding: 0 10px;
        font-size: 13px;
        height: 50px;
    }
}

/* End header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    background-color: #ECECEC;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 79px);
    display: flex;
    align-items: center;
    padding-bottom: 100px;

}

.landing .container .text {
    flex: 1;
}

.landing .container .text h1 {
    font-size: 35px;
}

.landing .container .text p {
    color: #666;
    font-size: 20px;
    line-height: 1.4;
}

.landing .img img {
    width: 600px;
    position: relative;
    animation-name: up-and-down;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@media (max-width:991px) {
    .landing .img {
        display: none;
    }

    .landing .container .text {
        text-align: center;
    }
}

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    color: var(--main-color);
    bottom: 10px;

}

.landing .go-down i {
    /* position: absolute; */
    margin: 0 auto;
    animation-name: bouncing;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-10px);
    }

}

/* End Landing */
/* Start mega-mnue */
header .container {
    position: relative;

}

header .container .mega-mnue {
    opacity: 0;
    z-index: -1;
    position: absolute;
    bottom: -400px;
    right: 0%;
    transition: bottom var(--transition), top var(--transition);
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 4px solid var(--main-color);
}

header .container .mega-mnue.click {

    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    padding: 50px 0;
    left: 0;
    opacity: 1;
    bottom: -344px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 4px solid var(--main-color);

}


header .container .mega-mnue .img img {
    width: 400px;
}

@media (max-width:767px) {

    header .container .mega-mnue.click {
        flex-direction: column;
        top: 101%;
        padding: 8px 20px;
        height: fit-content;
        gap: 0px;
    }

    header .container .mega-mnue {
        top: 200%;
    }
}

@media (max-width:992px) {
    header .container .mega-mnue .img img {
        display: none;
    }

    header .container .mega-mnue.click {
        bottom: -335px;
    }


    header .container .mega-mnue .link {
        width: 100%;

    }

    header .container .mega-mnue .link li {
        width: 100%
    }
}

@media (max-width:991px) {
    header .container .mega-mnue .link {
        width: calc(100% - 400px);
    }
}

header .container .mega-mnue .link {
    display: flex;
    flex-direction: column;
    width: 100%;

}

header .container .mega-mnue .link li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:767px) {
    header .container .mega-mnue ul:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }

}

header .container .mega-mnue .link li {
    width: 100%;
    justify-self: flex-start;
    padding: 10px;
    transition: var(--transition);
}

header .container .mega-mnue .link li:hover {
    color: var(--main-color);
    background-color: #f1f0f0;

}

header .container .mega-mnue .link li a {
    padding: 20px 20px 20px 0;
    color: var(--main-color);
    font-weight: bold;

}

header .container .mega-mnue .link li a i {
    margin-right: 10px;
    font-size: 25px;
}

/* End mega-mnue */


/* Start articles */
.articles {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.articles .container {
    display: grid;
    /* grid-template-rows: repeat(340px , minmax(auto-fill , 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.articles .container .card {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
    border-radius: 8px;
    overflow: hidden;
    transition: transform var(--transition), box-shadow var(--transition);

}

.articles .container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}

.articles .container .card img {
    width: inherit;
    border-radius: 8px right;
}

.articles .container .card .text {
    padding: 20px;
}

.articles .container .card .text h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.articles .container .card .text p {
    line-height: 1.5;
    color: #777;
}

.articles .container .card .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.articles .container .card .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .card .info a:hover,
.info i:hover {
    color: var(--main-color-alter);
}

.articles .container .card .info i {
    color: var(--main-color);
    cursor: pointer;

}

.articles .container .card:hover .info i {
    animation-name: right-to-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes right-to-left {

    0%,
    10%,
    30%,
    80%,
    90%,
    100% {
        transform: translateX(0);
    }

    20%,
    40%,
    50%,
    60%,
    70% {
        transform: translateX(10px);
    }


}

/* End articles */
/* Start Gallary */
.gallery {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;

}

.gallery .container .box {
    position: relative;
    border: 15px solid white;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 13%), 0px 2px 4px 0px rgba(0, 0, 0, 12%);
    overflow: hidden;


}

.gallery .container .box img {
    width: 100%;
    height: 100%;
    transition: transform var(--transition);

}

.gallery .container .box:hover img {
    transform: rotateZ(5deg) scale(1.1);

}

.gallery .box::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}

.gallery .box:hover::after {
    animation: opacity-whight;
    animation-duration: .5s;

}




@keyframes opacity-whight {

    0%,
    50% {
        opacity: .33;

    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;


    }
}

/* End Gallary */
/* Start Features */
.features {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .card {
    border: 1px solid #ccc;
    transition: var(--transition);
}

.features .container .card .img img {
    width: 100%;
    height: 100%;

}

.features .container .card .img {
    position: relative;
    overflow: hidden;
}

.features .container .card .img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .33;
}

.features .container .card .img::after {
    content: "";
    position: absolute;
    border-bottom: 170px solid white;
    border-right: 0px solid transparent;
    border-left: 500px solid transparent;
    border-top: 0px solid transparent;
    bottom: 0;
    right: 0;
    transition: var(--transition);

}

.features .container .card:hover .img::after {
    border-bottom: 170px solid white;
    border-right: 360px solid transparent;
    border-left: 500px solid transparent;
    border-top: 500px solid transparent;
}



@media (max-width:992px) {
    .features .container .card .img::after {
        border-bottom: 170px solid white;
        border-left: 800px solid transparent;
    }

    .features .container .card:hover .img::after {
        border-bottom: 270px solid white;
        border-right: 800px solid transparent;
    }
}

.features .container .card .text {
    text-align: center;
    padding: 20px;
}

.features .container .card .text h2 {
    margin-bottom: 70px;
    position: relative;
    width: fit-content;
    margin: 0 auto 20px auto;
}

.features .container .card .text h2::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    padding-bottom: 5px;
    height: 100%;
    left: 15px;
}

.features .container .card .text p {
    line-height: 1.5;
    margin-top: 50px;
    font-size: 20px;
    color: #777;
}

.features .container .card button {
    display: block;
    margin: 20px auto 40px auto;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    background-color: inherit;
    position: relative;
    border-width: 3px;
    border-style: solid;

}

.features .container .card button::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.features .container .card:hover button {
    color: white;
}

.features .container .card:hover button::before {
    animation-name: background-btn;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes background-btn {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

.features .container .red button::before {
    background-color: #f44036;
}

.features .container .red button {
    border-color: #f44036;
    color: #f44036;
}

.features .container .red .img::before {
    background-color: #f44036;
}

.features .container .red .text h2::before {
    border-bottom-color: #f44036;
}

.features .container .green button::before {
    background-color: #009688;

}

.features .container .green button {
    border-color: #009688;
    color: #009688;
}

.features .container .green .img::before {
    background-color: #009688;
}

.features .container .green .text h2::before {
    border-color: #009688;
}

.features .container .blue button::before {
    background-color: #03a9f4;
}

.features .container .blue button {
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .container .blue .img::before {
    background-color: #03a9f4;
}

.features .container .blue .text h2::before {
    border-bottom-color: #03a9f4;
}

/* End Features */
/* Start testimonials */
.testimonials {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .comment {
    background-color: white;
    padding: 20px;
    border-radius: 8px;

    box-shadow: 2px 0px 10px rgba(0, 0, 0, 7%);
    position: relative;
}

.testimonials .container .img {
    position: absolute;
    right: -5px;
    top: -50px;
    border-radius: 50%;
    background-color: var(--section-background);
    padding: 8px;
}

.testimonials .container .img img {
    width: 60px;
    border-radius: 50%;


}

.testimonials .container .content h3 {
    margin-bottom: 10px;

}

.testimonials .container .content .rate {
    color: #ffc107;
    padding-bottom: 10px;
}

.testimonials .container .content p {
    color: #777;

    line-height: 1.5;
}

.testimonials .container .content .title {
    font-weight: bold;
    padding-bottom: 10px;
}

/* End testimonials */
/* Start Team-members */
.team-members {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.team-members .container {
    display: grid;
   
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    row-gap: 50px;
}

.team-members .container .card {
   
    position: relative;
    height: fit-content;

}

.team-members .container .card::before,
.team-members .container .card::after {
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    right: 0;
    z-index: -3;
    border-radius: 8px;
    padding-top: 20px;

}

.team-members .container .card::after {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 20px;
    transition: var(--transition);


}

.team-members .container .card:hover::after {
    background-color: #e7e4e4;
    width: calc(100% - 60px);
    z-index: -1;
}

.team-members .data img {
    width: calc(100% - 60px);


    border-radius: 8px;
    transition: var(--transition);

}

.team-members .container .card:hover img {
    filter: grayscale(100%);
}

.team-members .data {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.team-members .data .sotial-media {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;

}

.team-members .data .sotial-media i {
    width: 20px;
    margin: 0 auto;
    color: #777;
    transition: var(--transition);
}

.team-members .data .sotial-media i:hover {
    color: var(--main-color);
}

.team-members .card .contant {
    padding-top: 20px;
    padding-left: 80px;


}

.team-members .card .contant h3 {
    color: var(--main-color);
    margin-bottom: 10px;
    transition: var(--transition);

}
.team-members .card .contant p{
       transition: var(--transition);
       font-size: 16px;
}

.team-members .card:hover .contant h3 , .team-members .card:hover .contant p {
        color: #777;
}



/* Start Team-members */