* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

:root {
    --main-color: #2196f3;
    --main-color-alter: #1787e0;
    --white-color: white;
    --black-color: black;
    --section-background: #ececec;
    --transition: .4s;
    --sction-padding: 100px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Main-Titel */
.main-titel {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid black;
    width: fit-content;
    margin: 100px auto;
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;

}

@media (max-width:767px) {
    .main-titel {
        font-size: 20px;
    }
}

.main-titel:hover {
    color: white;
    border: 2px solid white;
    transition-delay: .5s;
}

.main-titel::after {
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: var(--transition);
}

.main-titel::before {
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.main-titel::before {
    left: -30%;
}

.main-titel::after {
    right: -30%;
}

.main-titel:hover::before {
    z-index: -1;
    animation-name: left-active;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.main-titel:hover::after {
    z-index: -1;
    animation-name: right-active;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes left-active {
    50% {
        left: 0;
        height: 15px;
        width: 15px;

    }

    100% {
        left: 0;
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}

@keyframes right-active {
    50% {
        right: 0%;
        height: 15px;
        width: 15px;
    }

    100% {
        right: 0%;
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}

/* End Main-Titel */

/* Start header */
header {
    background-color: var(--white-color);
    box-shadow: 0 0 10px #ddd;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container .logo {
    color: var(--main-color);
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

header .container nav>ul a {
    padding: 0 30px;
    color: var(--black-color);
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: var(--transition);


}

header .container nav ul .list-head:before {
    content: "";
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    width: 100%;
    position: absolute;
    transition: var(--transition);
}

header .container nav ul a:hover {
    color: var(--main-color);
    background-color: #fafafa;
    transition: var(--transition);
}

header .container ul a:hover::before {
    left: 0%;
}

@media(max-width:767px) {
    header .container {
        flex-direction: column;
    }

    header .container .logo {
        height: 50px;
    }

    header .container nav ul a {
        padding: 0 10px;
        font-size: 13px;
        height: 50px;
    }
}

/* End header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    background-color: #ECECEC;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 79px);
    display: flex;
    align-items: center;
    padding-bottom: 100px;

}

.landing .container .text {
    flex: 1;
}

.landing .container .text h1 {
    font-size: 35px;
}

.landing .container .text p {
    color: #666;
    font-size: 20px;
    line-height: 1.4;
}

.landing .img img {
    width: 600px;
    position: relative;
    animation-name: up-and-down;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@media (max-width:991px) {
    .landing .img {
        display: none;
    }

    .landing .container .text {
        text-align: center;
    }
}

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    color: var(--main-color);
    bottom: 10px;

}

.landing .go-down i {
    /* position: absolute; */
    margin: 0 auto;
    animation-name: bouncing;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-10px);
    }

}

/* End Landing */
/* Start mega-mnue */
header .container {
    position: relative;

}

header .container .mega-mnue {
    opacity: 0;
    z-index: -1;
    position: absolute;
    bottom: -400px;
    right: 0%;
    transition: bottom var(--transition), top var(--transition);
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 4px solid var(--main-color);
}

header .container .mega-mnue.click {

    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    padding: 50px 0;
    left: 0;
    opacity: 1;
    bottom: -344px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 4px solid var(--main-color);

}


header .container .mega-mnue .img img {
    width: 400px;
}

@media (max-width:767px) {

    header .container .mega-mnue.click {
        flex-direction: column;
        top: 101%;
        padding: 8px 20px;
        height: fit-content;
        gap: 0px;
    }

    header .container .mega-mnue {
        top: 200%;
    }
}

@media (max-width:992px) {
    header .container .mega-mnue .img img {
        display: none;
    }

    header .container .mega-mnue.click {
        bottom: -335px;
    }


    header .container .mega-mnue .link {
        width: 100%;

    }

    header .container .mega-mnue .link li {
        width: 100%
    }
}

@media (max-width:991px) {
    header .container .mega-mnue .link {
        width: calc(100% - 400px);
    }
}

header .container .mega-mnue .link {
    display: flex;
    flex-direction: column;
    width: 100%;

}

header .container .mega-mnue .link li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:767px) {
    header .container .mega-mnue ul:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }

}

header .container .mega-mnue .link li {
    width: 100%;
    justify-self: flex-start;
    padding: 10px;
    transition: var(--transition);
}

header .container .mega-mnue .link li:hover {
    color: var(--main-color);
    background-color: #f1f0f0;

}

header .container .mega-mnue .link li a {
    padding: 20px 20px 20px 0;
    color: var(--main-color);
    font-weight: bold;

}

header .container .mega-mnue .link li a i {
    margin-right: 10px;
    font-size: 25px;
}

/* End mega-mnue */


/* Start articles */
.articles {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.articles .container {
    display: grid;
    /* grid-template-rows: repeat(340px , minmax(auto-fill , 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.articles .container .card {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
    border-radius: 8px;
    overflow: hidden;
    transition: transform var(--transition), box-shadow var(--transition);

}

.articles .container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}

.articles .container .card img {
    width: inherit;
    border-radius: 8px right;
}

.articles .container .card .text {
    padding: 20px;
}

.articles .container .card .text h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.articles .container .card .text p {
    line-height: 1.5;
    color: #777;
}

.articles .container .card .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.articles .container .card .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .card .info a:hover,
.info i:hover {
    color: var(--main-color-alter);
}

.articles .container .card .info i {
    color: var(--main-color);
    cursor: pointer;

}

.articles .container .card:hover .info i {
    animation-name: right-to-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes right-to-left {

    0%,
    10%,
    30%,
    80%,
    90%,
    100% {
        transform: translateX(0);
    }

    20%,
    40%,
    50%,
    60%,
    70% {
        transform: translateX(10px);
    }


}

/* End articles */
/* Start Gallary */
.gallery {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;

}

.gallery .container .box {
    position: relative;
    border: 15px solid white;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 13%), 0px 2px 4px 0px rgba(0, 0, 0, 12%);
    overflow: hidden;


}

.gallery .container .box img {
    width: 100%;
    height: 100%;
    transition: transform var(--transition);

}

.gallery .container .box:hover img {
    transform: rotateZ(5deg) scale(1.1);

}

.gallery .box::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}

.gallery .box:hover::after {
    animation: opacity-whight;
    animation-duration: .5s;

}




@keyframes opacity-whight {

    0%,
    50% {
        opacity: .33;

    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;


    }
}

/* End Gallary */
/* Start Features */
.features {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .card {
    border: 1px solid #ccc;
    transition: var(--transition);
}

.features .container .card .img img {
    width: 100%;
    height: 100%;

}

.features .container .card .img {
    position: relative;
    overflow: hidden;
}

.features .container .card .img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .33;
}

.features .container .card .img::after {
    content: "";
    position: absolute;
    border-bottom: 170px solid white;
    border-right: 0px solid transparent;
    border-left: 500px solid transparent;
    border-top: 0px solid transparent;
    bottom: 0;
    right: 0;
    transition: var(--transition);

}

.features .container .card:hover .img::after {
    border-bottom: 170px solid white;
    border-right: 360px solid transparent;
    border-left: 500px solid transparent;
    border-top: 500px solid transparent;
}



@media (max-width:992px) {
    .features .container .card .img::after {
        border-bottom: 170px solid white;
        border-left: 800px solid transparent;
    }

    .features .container .card:hover .img::after {
        border-bottom: 270px solid white;
        border-right: 800px solid transparent;
    }
}

.features .container .card .text {
    text-align: center;
    padding: 20px;
}

.features .container .card .text h2 {
    margin-bottom: 70px;
    position: relative;
    width: fit-content;
    margin: 0 auto 20px auto;
}

.features .container .card .text h2::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    padding-bottom: 5px;
    height: 100%;
    left: 15px;
}

.features .container .card .text p {
    line-height: 1.5;
    margin-top: 50px;
    font-size: 20px;
    color: #777;
}

.features .container .card button {
    display: block;
    margin: 20px auto 40px auto;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    background-color: inherit;
    position: relative;
    border-width: 3px;
    border-style: solid;

}

.features .container .card button::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.features .container .card:hover button {
    color: white;
}

.features .container .card:hover button::before {
    animation-name: background-btn;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes background-btn {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

.features .container .red button::before {
    background-color: #f44036;
}

.features .container .red button {
    border-color: #f44036;
    color: #f44036;
}

.features .container .red .img::before {
    background-color: #f44036;
}

.features .container .red .text h2::before {
    border-bottom-color: #f44036;
}

.features .container .green button::before {
    background-color: #009688;

}

.features .container .green button {
    border-color: #009688;
    color: #009688;
}

.features .container .green .img::before {
    background-color: #009688;
}

.features .container .green .text h2::before {
    border-color: #009688;
}

.features .container .blue button::before {
    background-color: #03a9f4;
}

.features .container .blue button {
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .container .blue .img::before {
    background-color: #03a9f4;
}

.features .container .blue .text h2::before {
    border-bottom-color: #03a9f4;
}

/* End Features */
/* Start testimonials */
.testimonials {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .comment {
    background-color: white;
    padding: 20px;
    border-radius: 8px;

    box-shadow: 2px 0px 10px rgba(0, 0, 0, 7%);
    position: relative;
}

.testimonials .container .img {
    position: absolute;
    right: -5px;
    top: -50px;
    border-radius: 50%;
    background-color: var(--section-background);
    padding: 8px;
}

.testimonials .container .img img {
    width: 60px;
    border-radius: 50%;


}

.testimonials .container .content h3 {
    margin-bottom: 10px;

}

.testimonials .container .content .rate {
    color: #ffc107;
    padding-bottom: 10px;
}

.testimonials .container .content p {
    color: #777;

    line-height: 1.5;
}

.testimonials .container .content .title {
    font-weight: bold;
    padding-bottom: 10px;
}

/* End testimonials */
/* Start Team-members */
.team-members {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.team-members .container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    row-gap: 50px;
}

.team-members .container .card {

    position: relative;
    height: fit-content;

}

.team-members .container .card::before,
.team-members .container .card::after {
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    right: 0;
    z-index: -3;
    border-radius: 8px;
    padding-top: 20px;

}

.team-members .container .card::after {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 20px;
    transition: var(--transition);


}

.team-members .container .card:hover::after {
    background-color: #e7e4e4;
    width: calc(100% - 60px);
    z-index: -1;
}

.team-members .data img {
    width: calc(100% - 60px);


    border-radius: 8px;
    transition: var(--transition);

}

.team-members .container .card:hover img {
    filter: grayscale(100%);
}

.team-members .data {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.team-members .data .sotial-media {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;

}

.team-members .data .sotial-media i {
    width: 20px;
    margin: 0 auto;
    color: #777;
    transition: var(--transition);
}

.team-members .data .sotial-media i:hover {
    color: var(--main-color);
}

.team-members .card .contant {
    padding-top: 20px;
    padding-left: 80px;


}

.team-members .card .contant h3 {
    color: var(--main-color);
    margin-bottom: 10px;
    transition: var(--transition);

}

.team-members .card .contant p {
    transition: var(--transition);
    font-size: 16px;
}

.team-members .card:hover .contant h3,
.team-members .card:hover .contant p {
    color: #777;
}



/* End Team-members */
/* Start services */
.services {
    background-color: var(--section-background);
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}

.services .container .card {
    text-align: center;
    background-color: white;
    padding: 30px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, .3) 0px 4px 12px;
    transition: var(--transition);
    position: relative;
    counter-increment: services;

}

.services .container .card:hover {

    transform: translateY(-10%);
}

.services .container .card::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 4px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}


.services .container .card:hover::before {
    width: 100%;
}

.services .container .card i {
    color: #d5d5d5;
}

.services .container .card h2 {
    align-self: center;
    margin: 20px;
    color: var(--main-color);
}

.services .container .card .info {
    position: relative;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
    overflow: hidden;
}

.services .container .card .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;



}

.services .container .card .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    left: 70px;
    top: 0;
    width: 50px;
    height: 130%;
    transform: skewX(-30deg);

}

.services .container .card .info a {
    color: var(--main-color);

}

/* End services */
/* Start our-skills */
.our-skills {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);

}

.our-skills .container {
    display: flex;

}

.our-skills .container .skills {
    width: 100%;
}


.our-skills .container .skills .skill .the-progress {
    background-color: var(--section-background);
    height: 25px;
    margin: 15px 0;
    position: relative;
}

.our-skills .container .skills .the-progress span {
    background-color: var(--main-color);
    height: 100%;
    width: 0%;
    position: absolute;
}


.our-skills .container .skills h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .container .skills h3 span {
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    color: var(--main-color);
}

.our-skills .container img {
    width: 100%;
    position: relative;
    animation-name: up-and-down;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media(max-width:1000px) {
    .our-skills .container img {
        display: none;
    }
}

/* End our-skills */
/* Start How-It-Works */
.Work-steps {
    padding-bottom: var(--sction-padding);
    padding-top: var(--sction-padding);
    background-color: var(--section-background);
}

.Work-steps .container {
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.Work-steps .container .img-basic {
    max-width: 100%;
    margin-right: 100px;
    position: relative;
    animation-name: up-and-down;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.Work-steps .container .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #f6f5f5;
    position: relative;
    z-index: 1;

}

.Work-steps .container .cards .card::before {
    content: "";
    height: 0%;
    width: 0%;
    background-color: #EDEDED;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: calc(var(--transition) + .2s);
}

.Work-steps .container .cards .card:hover::before {
    height: 100%;
    width: 100%;
}


.Work-steps .container .card img {
    width: 64px;

}

.Work-steps .container .card .info h4 {
    font-size: 25px;
    font: bold;
}

.Work-steps .container .card .info p {
    line-height: 1.7;
    color: #777;
    font-size: 20px;
    margin-top: 15px;
}

@media (max-width:1100px) {

    .Work-steps .container {
        display: block;

    }

    .Work-steps .container .img-basic {
        display: block;
        width: 60%;
        margin: 30px auto 60px;
    }

    .Work-steps .container .card {
        margin-top: 30px;
        display: block;
        text-align: center;
    }

    .Work-steps .container .card img {
        margin-bottom: 10px;
    }
}

/* End How-It-Works */
/* Start Event */
.events {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.events .container .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;

}

.events .container .info img {
    width: 450px;
    position: relative;
    animation-name: up-and-down;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media (max-width:1000px) {
    .events .container .info {
        flex-direction: column;

    }

    .events .container .info img {
        width: 300px;
    }

}

.events .container .info .content {
    text-align: center;

}

.events .container .info .content .counter-timing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.events .container .info .content .counter-timing .unit {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    transition: var(--transition);

}

.events .container .info .content .counter-timing .unit:hover {
    border: 1px solid var(--main-color);
}

.events .container .info .content .counter-timing .unit:hover span:first-of-type {
    border-bottom: 1px solid var(--main-color);
}

.events .container .info .content .counter-timing .unit span:first-of-type {
    padding: 15px 5px;
    max-width: 75px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--transition);
}

.events .container .info .content .counter-timing .unit span:last-child {
    padding-top: 8px;
    padding-bottom: 8px;

}

.events .container .info .content .counter-timing .unit span {
    display: block;
}

.events .container .info .content h4 {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 30px;
}

.events .container .info .content p {
    line-height: 1.7;
    font-size: 19px;
    color: #777;
    max-width: 500px;
}

.events .container .subscribe form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    background-color: #f6f5f5;
    padding: 30px 40px;
    border-radius: 50px;
    gap: 20px;
}

.events .container .subscribe form input {
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 50px;
    font-size: 100%;
}

.events .container .subscribe form input:first-of-type {
    width: 60%;
    caret-color: var(--main-color);
    flex: 1;
}

.events .container .subscribe form input:first-of-type::placeholder {
    transition: opacity var(--transition);
}

.events .container .subscribe form input:first-of-type:focus::placeholder {
    opacity: 0;
}

.events .container .subscribe form input[type="submit"] {
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    width: 34%;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition);

}

.events .container .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alter);
}

@media (max-width:767px) {
    .events .container .subscribe form {
        flex-direction: column;
        row-gap: 15px;
        border-radius: 0;
        max-width: 100%;

    }

    .events .container .subscribe form input:first-of-type {
        min-width: 100%;
        border-radius: 0;
    }

    .events .container .subscribe form input[type="submit"] {
        width: 100%;
        margin: 0px auto;
        border-radius: 0;

    }

}

/* End Event */
/* Start pricing-plans */
.pricing-plans {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
    background-color: var(--section-background);

}

.pricing-plans .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-between;
    gap: 20px;

}

.pricing-plans .container .card {
    /* width: 450px; */
    position: relative;
    background-color: white;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;




}

.pricing-plans .container .card::before {
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
}

.pricing-plans .container .card::after {
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.pricing-plans .container .card:hover::after,
.pricing-plans .container .card:hover::before {
    width: 100%;
}


.pricing-plans .container .card h3 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}

.pricing-plans .container .card img {
    width: 80px;
    margin: 30px 0;


}

.pricing-plans .container .card .amount {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);

}

.pricing-plans .container .card .time {
    color: #777;
    margin-top: 5px;
    margin-bottom: 8px;
}

.pricing-plans .container .card ul {
    align-self: flex-start;
    width: 100%;
}

.pricing-plans .container .card ul li i {
    font-size: 18px;
    margin-right: 13px;
    color: var(--main-color);

}

.pricing-plans .container .card ul li {
    padding: 20px;
    border-top: 1px solid #eee;
    font-size: 18px;
}

.pricing-plans .container .card ul li a {
    color: black;
    transition: var(--transition);
}

.pricing-plans .container .card ul li a:hover {
    color: #777;
}

.pricing-plans .container .card button {
    padding: 15px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    background-color: inherit;
    margin: 30px 0;
    color: var(--main-color);
    cursor: pointer;
    font-weight: bold;
    transition: var(--transition);
}

.pricing-plans .container .card button:hover {
    background-color: var(--main-color);
    color: white;

}

.pricing-plans .container .most-popular {
    position: relative;
    transform: translateY(-35px);
}

.pricing-plans .container .most-popular .label {
    background-color: var(--main-color);
    color: white;
    padding: 15px 15px 50px 15px;
    position: absolute;
    top: 0px;
    right: 30px;
    writing-mode: vertical-rl;
    font-weight: bold;
}

.pricing-plans .container .most-popular .label::before {
    content: "";
    left: 0px;
    bottom: -1px;
    position: absolute;
    z-index: 2;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 25px;
}

@media (max-width:992px) {
    .pricing-plans .container {
        justify-content: center;
    }

    .pricing-plans .container .most-popular {

        transform: translateY(0px);
    }
}

/* End pricing-plans */
/* Start Top Videos */
.top-videos {
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.top-videos .container {
    display: flex;

}

.top-videos .container .list-videos {
    border: 1px solid #ddd;

    min-width: 300px;
}

.top-videos .container .list-videos .titel {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-size: 20px;
    background-color: #f4f4f4;
}

.top-videos .container .list-videos .titel i {
    transition: var(--transition);
    cursor: pointer;
}

.top-videos .container .list-videos .titel i:hover {
    color: var(--main-color);

}

.top-videos .container .list-videos ul li {
    padding: 20px;
    border-top: 1px solid #ddd;
    transition: var(--transition);
    cursor: pointer;
}

.top-videos .container .list-videos ul li a {
    color: black;
    transition: var(--transition);
}

.list-videos ul li:hover {
    background-color: var(--section-background);

}

.top-videos .container .list-videos ul li:hover a {
    color: var(--main-color);
}

.top-videos .container .list-videos ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.top-videos .container .videos {
    background-color: var(--section-background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.top-videos .container .videos img {
    max-width: 100%;
}

.top-videos .container .videos p {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

@media (max-width:992px) {
    .top-videos .container {
        flex-direction: column;
    }

    .top-videos .container .videos {
        border-top: 0px;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
}

/* End Top Videos */
/* Start stats */
.stats {
    background-image: url("../imges/stats.jpg");
    background-size: cover;
    min-height: 300px;
    position: relative;
    padding-top: var(--sction-padding);
    padding-bottom: var(--sction-padding);
}

.stats::before {
    content: "";
    background-color: rgb(255 255 255 / 95%);
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    position: absolute;
    top: 0;
}

.stats .container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.stats .container .holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;

    gap: 20px;
    margin-top: 50px;
}

.stats .container .holder .box {
    background-color: white;
    padding: 30px 15px;
    font-weight: bold;
    text-align: center;
    opacity: 0.8;
    transition: var(--transition);
    position: relative;
}

.stats .container .holder .box::before {
    content: "";
    width: 2px;
    background-color: var(--main-color);
    height: 0%;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    transition: calc(var(--transition) + .5s);
}

.stats .container .holder .box::after {
    content: "";
    width: 2px;
    background-color: var(--main-color);
    height: 0%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: calc(var(--transition) + .5s);
}

.stats .container .holder .box:hover::after,
.stats .container .holder .box:hover::before {
    height: 100%;
}

.stats .container .holder .box:hover {
    opacity: 1;

}

.stats .container .holder .box span {
    display: block;
    /* font-size: 20px; */
}

.stats .container .holder .box .numbar {
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats .container .holder .box .titel {
    font-size: 20px;
    font-style: italic;
    color: var(--main-color);
    font-weight: bold;
}

/* End stats */
/* Start discount */
.discount {
    display: flex;
}

.discount .image {
    background-image: url("../imges/discount-background1.jpg");
    background-size: cover;
    position: relative;
    animation-name: imgAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;

    padding: 30px;
    flex-basis: 50%;



}

.discount .image::before {
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    left: 0;
    top: 0;

}

.discount .image .content {
    position: relative;
    text-align: center;
    color: white;

}

.discount .image .content img {
    width: 300px;
    max-width: 100%;
    margin-top: 40px;
}

.discount .image .content h1 {
    font-size: 30px;


    letter-spacing: -2px;
}

.discount .image .content p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 600;
}

.discount form {
    flex-basis: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.discount form input {
    margin-bottom: 25px;
    width: 300px;
    padding: 15px;
    outline: none;
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: none;
    border-left: none;
    border-right: none;
    caret-color: var(--main-color);

}

.discount form input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 900;
    transition: var(--transition);
    cursor: pointer;
}

.discount form input[type="submit"]:hover {
    background-color: white;
    border: 1.2px solid var(--main-color);
    color: var(--main-color);
}

.discount form textarea {
    min-width: 300px;
    height: 200px;
    resize: none;
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: none;
    border-left: none;
    border-right: none;
    caret-color: var(--main-color);

}

@media (max-width:992px) {
    .discount {
        flex-direction: column;
    }

}

@keyframes imgAnimation {

    0%,
    100% {
        background-image: url("../imges/discount-background1.jpg");
    }

    50% {
        background-image: url("../imges/discount-background2.jpg");
    }


}

/* End discount */
/* start footer */
footer {
    background-color: black;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}


footer .sotial h1 {
    font-size: 40px;
    color: white;
}

footer .sotial .sotial-medea a {

    background-color: #313131;
    color: #b9b9b9;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: var(--transition);
}

footer .sotial .sotial-medea .facebook:hover {
    background-color: #1877f2;
}

footer .sotial .sotial-medea .twitter:hover {
    background-color: #1da1f2;
}

footer .sotial .sotial-medea .youtube:hover {
    background-color: #ff0000;
}

footer .sotial p {
    font-size: 15px;
    color: #d4d4d4;
    margin-top: 20px;

}


footer .important-link li {

    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #444;
    transition: var(--transition);

}

footer .important-link li:hover a {
    color: white;
    padding-left: 10px;


}

footer .important-link .last-link {
    border-bottom: none;
}

footer .important-link li i {
    color: var(--main-color);
    margin-right: 10px;
}

footer .important-link li a {
    color: #b9b9b9;
    transition: padding var(--transition);
}

footer .contat-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .contat-us .info {

    align-items: center;
    display: flex;
}

footer .contat-us .info p {
    color: #b9b9b9;
}

footer .contat-us .info i {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 10px;

}

footer .contat-us .info p span {
    display: block;
}

footer .footer-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
    justify-content: center;
    align-items: center;
}

footer .footer-gallery .imge {
    width: 78px;
}

footer .footer-gallery .imge img {
    width: 100%;
    border: 4px solid white;
}

footer .copyright {
    color: white;
    width: 100%;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #444;
}

/* End footer */